* {margin: 0; padding: 0;}
.jumbotron {
    background-image: url("../images/skyline.jpeg");
    padding: 280px 0 200px 0;
}
.border-btm {
    border-bottom: 1px solid lightblue;
}
.back-lightblue {
    background-color: rgba(173, 216, 230, 0.2);
}